<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AtlasTaskmaster.Taskmaster" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <AtlasTaskmaster.Taskmaster>
            <setting name="ServicePaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>path1</string>
                        <string>path2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServiceWindowNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>serviceWindowName1</string>
                        <string>serviceWindowName2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServiceKeepRunning" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>true</string>
                        <string>true</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServiceUpdateRateSeconds" serializeAs="String">
                <value>10</value>
            </setting>
        </AtlasTaskmaster.Taskmaster>
    </applicationSettings>
</configuration>